/* app.css */

/* Set background color to blue */
body {
  background-color: gray;
  margin: 0;
  padding: 0;
}

/* Style the header with white text and center it */
.header {
  text-align: center;
  color: white;
  padding: 20px;
  background-color: #282c34;
}

/* Style the visualizer container to be centered */
.visualizer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px); /* Adjust the height as needed */
  /* You can add more styles here, such as background color or border */
}
